---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.akkeylab.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}/" style="background-image: url('{{ site.baseurl }}{{ site.akkeylab.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.akkeylab.author %}
        <div class="author-container"><h1>{{ site.akkeylab.author }}</h1></div>
        {% endif %}

        {% if site.akkeylab.tagline %}
        <div class="tagline-container"><p>{{ site.akkeylab.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
      <div class="content">
        {% include investor_relations.html %}
      </div>
    </main>
</div>
