<h2>会社概要</h2>
<p>
  <span>社　名:</span>AkkeyLab株式会社<br>
  <span>住　所:</span>〒150-0043<br>
  <span></span>東京都渋谷区道玄坂<br>
  <span></span>二葉ビル8B<br>
  <span>設　立:</span>2022年--月--日<br>
  <span>資本金:</span>---万円<br>
</p>

<h3>事業内容</h3>
<ul>
  <li>プログラミングスクール経営</li>
  <li>ソフトウェアの設計、開発</li>
  <li>ソフトウェアの保守、運用</li>
</ul>

<p>
  <a color='#286AA3'>AkkeyLab</a> は <a color='#286AA3'>板谷 晃良</a> の商標又は登録商標です。<br>
  <a href="https://www.j-platpat.inpit.go.jp">登録 6613743</a>
</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-trophy fa-lg main-list-item-icon"></span>
    <a href="https://findy-code.io/share_profiles/OSmNG2dQGMCwt">実績一覧</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user-circle fa-lg main-list-item-icon"></span>
    <a href="https://findy-code.io/share_profiles/OSmNG2dQGMCwt">代表取締役　板谷 晃良</a>
  </li>
</ul>
